<style>    
    body 
        {
            background-color: #F746E4; 
            border-style: double;
            border-width: 5px;
        }
    h1 
        {
           font-size: 30px;
           color:#E6F52E;
           margin-left: 350px;
           margin-top: 500px;
        }
    .box
        {
           margin-left: 350px;
           margin-top: 100px;
           margin-right: 350px;
           border-style: solid;
        }
    .Rupom
        {
            color:#E6F52E;
        }
    .btn1
        {
            border-color: Blue;
            border-width: 3px;
            color:#0FF20F;
            margin-left: 500px;
            padding-left: 500px;
        }
</style> 